In [2]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
print("hello")

hello

pgcon = psycopg2.connect(
    host="postgres.czrxlhj3gf4e.us-east-2.rds.amazonaws.com",
    database="postgres",
    user="postgres",
    password="11Jagged"
)
print("hello")

In [3]:
pgcon = psycopg2.connect(
    host="postgres.czrxlhj3gf4e.us-east-2.rds.amazonaws.com",
    database="postgres",
    user="root",
    password="11Jagged"
)
print("hello")

hello

In [4]:
print("hello")

hello

In [5]:

engine = create_engine('postgresql+psycopg2://root:11Jagged@postgres.czrxlhj3gf4e.us-east-2.rds.amazonaws.com/postgres')
print("hello")

hello

In [12]:
scores = pd.read_sql_query('select * from betting_info', engine)
scores

,game_id,season,game_type,week,matchup,home_team,away_team,home_score,away_score,result,...,weather,ats_win,ats_loss,ats_push,over,under,push,div_game,home_moneyline,away_moneyline
0,2011_01_NO_GB,2011,REG,1,GB v NO,GB,NO,42.0,34.0,-8.0,...,None,1.0,NaN,NaN,1.0,NaN,NaN,0,-250.0,222.0
1,2011_01_PIT_BAL,2011,REG,1,BAL v PIT,BAL,PIT,35.0,7.0,-28.0,...,None,1.0,NaN,NaN,1.0,NaN,NaN,1,-125.0,113.0
2,2011_01_ATL_CHI,2011,REG,1,CHI v ATL,CHI,ATL,30.0,12.0,-18.0,...,None,1.0,NaN,NaN,1.0,NaN,NaN,0,105.0,-116.0
3,2011_01_CIN_CLE,2011,REG,1,CLE v CIN,CLE,CIN,17.0,27.0,10.0,...,None,NaN,1.0,NaN,1.0,NaN,NaN,1,-310.0,273.0
4,2011_01_IND_HOU,2011,REG,1,HOU v IND,HOU,IND,34.0,7.0,-27.0,...,None,1.0,NaN,NaN,NaN,1.0,NaN,1,-430.0,369.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2939,2021_18_CAR_TB,2021,REG,18,TB v CAR,TB,CAR,NaN,NaN,NaN,...,None,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
2940,2021_18_SEA_ARI,2021,REG,18,ARI v SEA,ARI,SEA,NaN,NaN,NaN,...,None,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
2941,2021_18_KC_DEN,2021,REG,18,DEN v KC,DEN,KC,NaN,NaN,NaN,...,None,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
2942,2021_18_SF_LA,2021,REG,18,LA v SF,LA,SF,NaN,NaN,NaN,...,None,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
2943,2021_18_LAC_LV,2021,REG,18,LV v LAC,LV,LAC,NaN,NaN,NaN,...,None,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN

In [10]:
pd.read_sql_query('select count(*) from betting_info', engine)

   count
0   2944

In [6]:
pd.read_sql_query('select * from betting_info', engine)

,game_id,season,game_type,week,matchup,home_team,away_team,home_score,away_score,result,...,weather,ats_win,ats_loss,ats_push,over,under,push,div_game,home_moneyline,away_moneyline
0,2011_01_NO_GB,2011,REG,1,GB v NO,GB,NO,42.0,34.0,-8.0,...,None,1.0,NaN,NaN,1.0,NaN,NaN,0,-250.0,222.0
1,2011_01_PIT_BAL,2011,REG,1,BAL v PIT,BAL,PIT,35.0,7.0,-28.0,...,None,1.0,NaN,NaN,1.0,NaN,NaN,1,-125.0,113.0
2,2011_01_ATL_CHI,2011,REG,1,CHI v ATL,CHI,ATL,30.0,12.0,-18.0,...,None,1.0,NaN,NaN,1.0,NaN,NaN,0,105.0,-116.0
3,2011_01_CIN_CLE,2011,REG,1,CLE v CIN,CLE,CIN,17.0,27.0,10.0,...,None,NaN,1.0,NaN,1.0,NaN,NaN,1,-310.0,273.0
4,2011_01_IND_HOU,2011,REG,1,HOU v IND,HOU,IND,34.0,7.0,-27.0,...,None,1.0,NaN,NaN,NaN,1.0,NaN,1,-430.0,369.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2939,2021_18_CAR_TB,2021,REG,18,TB v CAR,TB,CAR,NaN,NaN,NaN,...,None,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
2940,2021_18_SEA_ARI,2021,REG,18,ARI v SEA,ARI,SEA,NaN,NaN,NaN,...,None,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
2941,2021_18_KC_DEN,2021,REG,18,DEN v KC,DEN,KC,NaN,NaN,NaN,...,None,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
2942,2021_18_SF_LA,2021,REG,18,LA v SF,LA,SF,NaN,NaN,NaN,...,None,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
2943,2021_18_LAC_LV,2021,REG,18,LV v LAC,LV,LAC,NaN,NaN,NaN,...,None,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN

In [7]:
pd.read_sql_query('select count(*) from nflplaybyplay', engine)

    count
0  216792

In [8]:
pd.read_sql_query('select * from nflplaybyplay', engine)

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
0,1,2020_01_ARI_SF,2020091311,SF,ARI,REG,1.0,None,None,None,...,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,39,2020_01_ARI_SF,2020091311,SF,ARI,REG,1.0,SF,home,ARI,...,0.0,1.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,54,2020_01_ARI_SF,2020091311,SF,ARI,REG,1.0,SF,home,ARI,...,0.0,1.0,1.294838,0.50337,4.275047,2.0,0.619306,0.239695,0.515058,48.494154
3,93,2020_01_ARI_SF,2020091311,SF,ARI,REG,1.0,SF,home,ARI,...,0.0,1.0,0.857214,NaN,NaN,NaN,NaN,NaN,0.413357,-41.335732
4,118,2020_01_ARI_SF,2020091311,SF,ARI,REG,1.0,SF,home,ARI,...,0.0,1.0,-0.454665,NaN,NaN,NaN,NaN,NaN,0.446920,-44.692025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216787,4211,2021_09_TEN_LA,2021110711,LA,TEN,REG,9.0,LA,home,TEN,...,0.0,1.0,-0.477518,NaN,NaN,NaN,NaN,NaN,0.662869,-66.286886
216788,4232,2021_09_TEN_LA,2021110711,LA,TEN,REG,9.0,LA,home,TEN,...,0.0,1.0,-0.821027,NaN,NaN,NaN,NaN,NaN,0.726930,27.306980
216789,4254,2021_09_TEN_LA,2021110711,LA,TEN,REG,9.0,LA,home,TEN,...,0.0,1.0,-0.859951,NaN,NaN,NaN,NaN,NaN,0.844414,NaN
216790,4287,2021_09_TEN_LA,2021110711,LA,TEN,REG,9.0,LA,home,TEN,...,0.0,1.0,1.959516,NaN,NaN,NaN,NaN,NaN,0.968941,3.105932
216791,4320,2021_09_TEN_LA,2021110711,LA,TEN,REG,9.0,LA,home,TEN,...,0.0,1.0,1.185205,NaN,NaN,NaN,NaN,NaN,0.929727,7.027310

In [12]:
df = pd.read_sql_query('select * from nflplaybyplay', engine)

In [13]:
df.head()

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
0,1,2020_01_ARI_SF,2020091311,SF,ARI,REG,1.0,None,None,None,...,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,39,2020_01_ARI_SF,2020091311,SF,ARI,REG,1.0,SF,home,ARI,...,0.0,1.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,54,2020_01_ARI_SF,2020091311,SF,ARI,REG,1.0,SF,home,ARI,...,0.0,1.0,1.294838,0.50337,4.275047,2.0,0.619306,0.239695,0.515058,48.494154
3,93,2020_01_ARI_SF,2020091311,SF,ARI,REG,1.0,SF,home,ARI,...,0.0,1.0,0.857214,NaN,NaN,NaN,NaN,NaN,0.413357,-41.335732
4,118,2020_01_ARI_SF,2020091311,SF,ARI,REG,1.0,SF,home,ARI,...,0.0,1.0,-0.454665,NaN,NaN,NaN,NaN,NaN,0.446920,-44.692025

In [13]:
epas = pd.read_sql_query('select * from cleaned_data', engine)
epas

,game_id,season,week,home_team,home_qb_name,home_off_epa,away_team,away_qb_name,away_off_epa,def_epa_home,def_pass_epa_home,def_rush_epa_home,def_epa_away,def_pass_epa_away,def_rush_epa_away
0,2011_01_ATL_CHI,2011,1,CHI,Jay Cutler,-0.055269,ATL,Matt Ryan,-0.262554,-0.262554,-0.290874,-0.166269,-0.055269,0.014545,-0.150940
1,2011_01_BUF_KC,2011,1,KC,Matt Cassel,-0.372663,BUF,Ryan Fitzpatrick,0.223898,0.223898,0.443865,0.067607,-0.372663,-0.444717,-0.220548
2,2011_01_CAR_ARI,2011,1,ARI,Kevin Kolb,0.132567,CAR,Cam Newton,0.125934,0.125934,0.348553,-0.212117,0.132567,0.395432,-0.198872
3,2011_01_CIN_CLE,2011,1,CLE,Colt McCoy,-0.150630,CIN,Andy Dalton,0.054779,0.054779,-0.018311,0.127870,-0.150630,-0.214656,-0.043065
4,2011_01_DAL_NYJ,2011,1,NYJ,Mark Sanchez,-0.071235,DAL,Tony Romo,0.050997,0.050997,0.200578,-0.188334,-0.071235,-0.027524,-0.202369
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,2021_10_NO_TEN,2021,10,TEN,Ryan Tannehill,-0.066429,NO,Trevor Siemian,0.111866,0.111866,0.149996,0.037421,-0.066429,0.084083,-0.228091
2819,2021_10_PHI_DEN,2021,10,DEN,Teddy Bridgewater,-0.260955,PHI,Jalen Hurts,0.134323,0.134323,0.202862,0.086727,-0.260955,-0.142292,-0.504874
2820,2021_10_SEA_GB,2021,10,GB,Aaron Rodgers,0.064245,SEA,Russell Wilson,-0.303277,-0.303277,-0.475976,0.160853,0.064245,0.044888,0.087232
2821,2021_10_TB_WAS,2021,10,WAS,Taylor Heinicke,0.041977,TB,Tom Brady,-0.018615,-0.018615,-0.085110,0.155294,0.041977,0.157826,-0.080492
2822,2021_11_NE_ATL,2021,11,ATL,Matt Ryan,-0.610897,NE,Mac Jones,-0.058675,-0.058675,-0.091320,-0.024864,-0.610897,-0.674434,-0.467938